# Setup

In [1]:
from dotenv import load_dotenv
load_dotenv()

print("Starting jobs feed script...")

import requests
import json
import pandas as pd
import anthropic
import pyperclip
from supabase import create_client, Client
import time
from typing import List, Dict
import asyncio
import aiohttp
import nest_asyncio

# Supabase API
SUPABASE_URL = os.environ["SUPABASE_URL"]
SUPABASE_KEY = os.environ["SUPABASE_KEY"]
SERVICE_ROLE_KEY = os.environ["SUPABASE_SERVICE_ROLE_KEY"]

supabase: Client = create_client(SUPABASE_URL, SERVICE_ROLE_KEY)

Starting jobs feed script...

## Fetch data from supabase

In [2]:
# ✅ Function to Fetch Data from Supabase
def fetch_data(table_name, batch_size=500, filters=None, related_tables=None):
    try:
        all_data = []
        start = 0

        # Build select string
        if related_tables:
            select_string = "*, " + ", ".join(f"{tbl}(*)" for tbl in related_tables)
        else:
            select_string = "*"

        while True:
            query = supabase.table(table_name).select(select_string)
            
            if filters:
                for column, value in filters.items():
                    if isinstance(value, list):
                        query = query.in_(column, value)
                    elif value is None:
                        query = query.is_(column, None)
                    else:
                        query = query.eq(column, value)
            
            response = query.range(start, start + batch_size - 1).execute()
            
            if response.data:
                all_data.extend(response.data)
                start += batch_size
                if len(response.data) < batch_size:
                    break
            else:
                break

        if all_data:
            print(f"✅ Successfully fetched `{table_name}` table with filter '{filters}' and {len(all_data)} rows.")
            return pd.DataFrame(all_data)
        else:
            print(f"⚠️ `{table_name}` is empty.")
            return pd.DataFrame()

    except Exception as e:
        print(f"❌ Error fetching data from '{table_name}': {e}")
        return pd.DataFrame()
# ✅ Fetch data from tables
companies = fetch_data(
    "companies",
     filters={"status": ["trial", "active"]},
)
competitors = fetch_data(
    "competitors",
)

jobs = fetch_data("jobs")

✅ Successfully fetched `companies` table with filter '{'status': ['trial', 'active']}' and 6 rows.
✅ Successfully fetched `competitors` table with filter 'None' and 59 rows.
✅ Successfully fetched `jobs` table with filter 'None' and 4452 rows.

In [3]:
# Filter competitors to only trial accounts
filtered_competitors = competitors[competitors["company_id"].isin(companies["id"])]

# Optional: reset index if you want a clean one
filtered_competitors = filtered_competitors.reset_index(drop=True)
competitors = filtered_competitors
print(f"✅ Filtered to {len(companies)} trial and active accounts with {len(competitors)} competitors")

✅ Filtered to 6 trial and active accounts with 25 competitors

In [4]:
filtered_df = competitors[
    competitors['linkedin_id'].notna() & 
    (competitors['linkedin_id'] != 0) 
]
competitors = filtered_df

# Replace NaN with 0, convert to numeric safely, then cast to int
competitors["linkedin_id"] = (
    pd.to_numeric(competitors["linkedin_id"], errors="coerce")
    .fillna(0)
    .astype(int)
)

# Print number of competitors kept
print(f"✅ {len(competitors)} competitors kept after filtering.")

✅ 23 competitors kept after filtering.

/var/folders/gj/f802y1hn0h5gfzy596h_bppr0000gn/T/ipykernel_60045/3111670536.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  competitors["linkedin_id"] = (

# Job Data API

## Get list of jobs

In [5]:
# API setup
url = "https://professional-network-data.p.rapidapi.com/search-jobs"
headers = {
    "x-rapidapi-key": "e88f5d3d95msh96c8e7a091f4a90p1bee3cjsn2b537c4486ca",
    "x-rapidapi-host": "professional-network-data.p.rapidapi.com"
}

# Prepare final DataFrame
all_jobs = []

# Iterate through competitors
for _, row in competitors.iterrows():
    competitor_name = row["competitor_name"]
    competitor_id = row["id"]
    linkedin_id = row["linkedin_id"]

    # Set dynamic query parameters
    querystring = {
        "companyIds": str(linkedin_id),
        "locationId": "92000000",
        "datePosted": "anyTime",
        "sort": "mostRecent"
    }
    print(querystring)

    try:
        response = requests.get(url, headers=headers, params=querystring)
        response.raise_for_status()
        result = response.json()

        # Validate structure
        if isinstance(result, dict) and isinstance(result.get("data"), list):
            for job in result["data"]:
                job["competitor_name"] = competitor_name
                job["competitor_id"] = competitor_id
                all_jobs.append(job)
            print(f"Jobs collected for {competitor_name}")
        else:
            print(f"Unexpected response format for {competitor_name}: {result}")

    except Exception as e:
        print(f"Error fetching jobs for {competitor_name}: {e}")

    time.sleep(1)

# Create final DataFrame
jobs_df = pd.DataFrame(all_jobs)
print("Grabbed jobs via API...")

{'companyIds': '1028', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Oracle Health
{'companyIds': '17877435', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Suki
{'companyIds': '10449851', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Pieces
{'companyIds': '77105967', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Ambience Healthcare
{'companyIds': '3794219', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Workiz
{'companyIds': '5151868', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Unexpected response format for Simply Wise: {'success': False, 'message': 'The request failed. You will not be charged for this request', 'data': None}
{'companyIds': '5772', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Turner
{'companyIds': '10872551', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Field Pulse
{'companyIds': '1617574', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Jobber
{'companyIds': '166403', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for The Rockefeller Foundation
{'companyIds': '17354', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Triodos
{'companyIds': '9450', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Ashoka
{'companyIds': '109914037', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Unexpected response format for Best Mate: {'success': True, 'message': '', 'data': None}
{'companyIds': '3157549', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Service Titan
{'companyIds': '3491149', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Housecall Pro
{'companyIds': '11637', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Wex FSM
{'companyIds': '4335', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Skanksa
{'companyIds': '73731', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Clayco
{'companyIds': '10065572', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Unexpected response format for Microsoft Healthcare: {'success': True, 'message': '', 'data': None}
{'companyIds': '28640609', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Nabla
{'companyIds': '675562', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for Square
{'companyIds': '1206743', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for SpotOn
{'companyIds': '3205573', 'locationId': '92000000', 'datePosted': 'anyTime', 'sort': 'mostRecent'}
Jobs collected for DoorDash
Grabbed jobs via API...

## Remove jobs that already exist

In [6]:
# Extract ID and append to dataframe
jobs_df['job_id'] = jobs_df['url'].str.extract(r'/view/(\d+)')
jobs['job_id'] = jobs['url'].str.extract(r'/view/(\d+)')

In [7]:
# Ensure both id columns are strings
jobs['job_id'] = jobs['job_id'].astype(str)
jobs_df['job_id'] = jobs_df['job_id'].astype(str)

# Count before filtering
count_before = len(jobs_df)

# Filter out matching job_ids
jobs_df_filtered = jobs_df[~jobs_df['job_id'].isin(jobs['job_id'])]

# Count after filtering
count_after = len(jobs_df_filtered)

# Set dataframe back to jobs_df
jobs_df = jobs_df_filtered
print(f"Dropped duplicate jobs, {len(jobs_df)} jobs remaining...")

Dropped duplicate jobs, 121 jobs remaining...

## Get job details

In [8]:
import asyncio
import aiohttp
import time
import nest_asyncio

nest_asyncio.apply()

url = "https://professional-network-data.p.rapidapi.com/get-job-details"
headers = {
    "x-rapidapi-key": "e88f5d3d95msh96c8e7a091f4a90p1bee3cjsn2b537c4486ca",
    "x-rapidapi-host": "professional-network-data.p.rapidapi.com"
}

MAX_REQUESTS_PER_MINUTE = 50
MIN_INTERVAL = 60 / MAX_REQUESTS_PER_MINUTE

last_request_time = 0
rate_lock = asyncio.Lock()

async def rate_limited_get(session, params):
    global last_request_time

    async with rate_lock:
        # wait if last request was too recent
        elapsed = time.time() - last_request_time
        if elapsed < MIN_INTERVAL:
            await asyncio.sleep(MIN_INTERVAL - elapsed)

        last_request_time = time.time()

        return await session.get(url, headers=headers, params=params, timeout=20)


async def fetch_job(session, row):
    job_id = row["id"]
    competitor_name = row["competitor_name"]
    
    params = {"id": job_id}

    try:
        resp = await rate_limited_get(session, params)

        if resp.status == 429:
            print(f"⚠️ STILL got 429 for {competitor_name} ({job_id}) — slowing further")
            await asyncio.sleep(2)
            return None

        if resp.status != 200:
            print(f"⚠️ {competitor_name} ({job_id}) HTTP {resp.status}")
            return None

        data = await resp.json()

        if "data" in data and isinstance(data["data"], dict):
            job = data["data"]
            job["competitor_id"] = row["competitor_id"]
            job["competitor_name"] = competitor_name
            print(f"✅ Job: {competitor_name} ({job_id})")
            return job
        
        print(f"⚠️ Unexpected format for {competitor_name}")
        return None

    except Exception as e:
        print(f"❌ Error {competitor_name} ({job_id}): {e}")
        return None


async def fetch_all(df):
    async with aiohttp.ClientSession() as session:
        tasks = [fetch_job(session, row) for _, row in df.iterrows()]
        return await asyncio.gather(*tasks)

# RUN
results = await fetch_all(jobs_df)
job_descriptions_df = pd.DataFrame([r for r in results if r])
job_descriptions_df.head()

✅ Job: Oracle Health (4355500486)
✅ Job: Oracle Health (4355500473)
✅ Job: Oracle Health (4355500469)
✅ Job: Oracle Health (4355470762)
✅ Job: Oracle Health (4355412151)
✅ Job: Oracle Health (4355327256)
✅ Job: Oracle Health (4355480666)
✅ Job: Oracle Health (4355402364)
✅ Job: Oracle Health (4355382601)
✅ Job: Oracle Health (4355382596)
✅ Job: Oracle Health (4355364485)
✅ Job: Oracle Health (4355327258)
✅ Job: Oracle Health (4355510167)
✅ Job: Oracle Health (4355510163)
✅ Job: Oracle Health (4355510159)
✅ Job: Oracle Health (4355500474)
✅ Job: Oracle Health (4355500472)
✅ Job: Oracle Health (4355500466)
✅ Job: Oracle Health (4355480669)
✅ Job: Oracle Health (4355470763)
✅ Job: Oracle Health (4355470761)
✅ Job: Oracle Health (4355460761)
✅ Job: Oracle Health (4355450716)
✅ Job: Oracle Health (4355450712)
❌ Error Oracle Health (4355354941):
⚠️ Unexpected format for Suki
✅ Job: Turner (4365525229)
✅ Job: Turner (4343311655)
✅ Job: Turner (4343129372)
✅ Job: Turner (4343441086)
✅ Job: Turner (4332716077)
✅ Job: Turner (4343292080)
✅ Job: Turner (4343119353)
✅ Job: Turner (4343109419)
✅ Job: Turner (4337102864)
✅ Job: Turner (4336193461)
✅ Job: Turner (4332746111)
✅ Job: Turner (4343470959)
✅ Job: Turner (4343441085)
✅ Job: Turner (4343109394)
✅ Job: Turner (4343089495)
✅ Job: Turner (4337162646)
✅ Job: Turner (4332833255)
✅ Job: Turner (4337122776)
✅ Job: Turner (4343109397)
✅ Job: Turner (4343490920)
✅ Job: Turner (4343286232)
✅ Job: Turner (4365449110)
✅ Job: Turner (4365448095)
✅ Job: Turner (4365439244)
✅ Job: Field Pulse (4365518607)
✅ Job: Field Pulse (4364812392)
✅ Job: The Rockefeller Foundation (4359997647)
✅ Job: Triodos (4365475516)
✅ Job: Ashoka (4365478338)
✅ Job: Ashoka (4365474565)
✅ Job: Ashoka (4365472623)
✅ Job: Ashoka (4365471640)
✅ Job: Ashoka (4365467745)
✅ Job: Ashoka (4365463764)
✅ Job: Ashoka (4359312178)
✅ Job: Housecall Pro (4344847011)
✅ Job: Housecall Pro (3941591217)
✅ Job: Housecall Pro (4344961916)
✅ Job: Housecall Pro (4344966180)
✅ Job: Housecall Pro (4339267102)
✅ Job: Housecall Pro (4339207223)
✅ Job: Wex FSM (4365510328)
✅ Job: Wex FSM (4304390465)
✅ Job: Wex FSM (4314168013)
✅ Job: Wex FSM (4344943485)
✅ Job: Wex FSM (4359721403)
✅ Job: Skanksa (4321302142)
✅ Job: Skanksa (4364800140)
✅ Job: Skanksa (4364661227)
✅ Job: Skanksa (4364229915)
✅ Job: Skanksa (4364219903)
✅ Job: Skanksa (4364690163)
✅ Job: Skanksa (4261166382)
⚠️ Unexpected format for Skanksa
✅ Job: Skanksa (4326129418)
✅ Job: Skanksa (4360990205)
✅ Job: Skanksa (4364296906)
❌ Error Skanksa (4360456295):
✅ Job: Skanksa (4364235127)
✅ Job: Skanksa (4364394573)
✅ Job: Skanksa (4364374727)
✅ Job: Skanksa (4360904909)
✅ Job: Skanksa (4360942639)
✅ Job: Skanksa (4360884486)
✅ Job: Skanksa (4364342545)
✅ Job: Skanksa (4350800109)
✅ Job: Clayco (4314063355)
✅ Job: Clayco (4314540774)
✅ Job: Clayco (4330506923)
✅ Job: Clayco (4330119042)
✅ Job: Square (4349636555)
✅ Job: SpotOn (4363383858)
✅ Job: SpotOn (4363373884)
✅ Job: SpotOn (4362587713)
✅ Job: SpotOn (4362557872)
✅ Job: SpotOn (4362528013)
✅ Job: SpotOn (4362508464)
✅ Job: SpotOn (4362567822)
✅ Job: SpotOn (4362653083)
✅ Job: SpotOn (4362624834)
✅ Job: SpotOn (4362546825)
✅ Job: SpotOn (4362506857)
✅ Job: SpotOn (4300715708)
✅ Job: SpotOn (4326585239)
✅ Job: SpotOn (4326711280)
✅ Job: SpotOn (4326632690)
✅ Job: SpotOn (4326527557)
❌ Error SpotOn (4362520166):
✅ Job: SpotOn (4362087872)
✅ Job: SpotOn (4362072755)
✅ Job: SpotOn (4360976202)
✅ Job: SpotOn (4362101108)
✅ Job: SpotOn (4362011721)
✅ Job: SpotOn (4361981756)
✅ Job: DoorDash (4353545973)

,id,state,title,description,url,applyMethod,company,contentLanguage,location,type,...,industries,formattedIndustries,formattedExperienceLevel,listedAt,listedAtDate,originalListedAt,originalListedDate,competitor_id,competitor_name,workRemoteAllowed
0,4355500486,LISTED,Data Center Technician 2,Job Description\n\nDaily Job Duties:\n\nHardwa...,https://www.linkedin.com/jobs/view/4355500486/,{'companyApplyUrl': 'https://eeho.fa.us2.oracl...,"{'id': 1028, 'name': 'Oracle', 'universalName'...","{'code': 'EN', 'name': 'English'}","Chicago, IL",Full-time,...,[96],[IT Services and IT Consulting],Mid-Senior level,1769185441000,2026-01-23 16:24:01 +0000 UTC,1769184016000,2026-01-23 16:00:16 +0000 UTC,152,Oracle Health,NaN
1,4355500473,LISTED,Software Developer 3,Job Description\n\nThe Oracle Cloud Infrastruc...,https://www.linkedin.com/jobs/view/4355500473/,{'companyApplyUrl': 'https://eeho.fa.us2.oracl...,"{'id': 1028, 'name': 'Oracle', 'universalName'...","{'code': 'EN', 'name': 'English'}",United States,Full-time,...,[96],[IT Services and IT Consulting],Mid-Senior level,1769185441000,2026-01-23 16:24:01 +0000 UTC,1769183930000,2026-01-23 15:58:50 +0000 UTC,152,Oracle Health,True
2,4355500469,LISTED,Principal Software Engineer - Server Managemen...,Job Description\n\nPrincipal Software Develope...,https://www.linkedin.com/jobs/view/4355500469/,{'companyApplyUrl': 'https://eeho.fa.us2.oracl...,"{'id': 1028, 'name': 'Oracle', 'universalName'...","{'code': 'EN', 'name': 'English'}","Santa Clara, CA",Full-time,...,[96],[IT Services and IT Consulting],Mid-Senior level,1769185441000,2026-01-23 16:24:01 +0000 UTC,1769183921000,2026-01-23 15:58:41 +0000 UTC,152,Oracle Health,NaN
3,4355470762,LISTED,Industry Sales Executive - Professional Services,Job Description\n\nSells a subset of product o...,https://www.linkedin.com/jobs/view/4355470762/,{'companyApplyUrl': 'https://eeho.fa.us2.oracl...,"{'id': 1028, 'name': 'Oracle', 'universalName'...","{'code': 'EN', 'name': 'English'}",United States,Full-time,...,[96],[IT Services and IT Consulting],Mid-Senior level,1769185441000,2026-01-23 16:24:01 +0000 UTC,1769183919000,2026-01-23 15:58:39 +0000 UTC,152,Oracle Health,True
4,4355412151,LISTED,Enterprise Application Sales Executive – Cloud...,Job Description\n\nThis position is responsibl...,https://www.linkedin.com/jobs/view/4355412151/,{'companyApplyUrl': 'https://eeho.fa.us2.oracl...,"{'id': 1028, 'name': 'Oracle', 'universalName'...","{'code': 'EN', 'name': 'English'}",United States,Full-time,...,[96],[IT Services and IT Consulting],Mid-Senior level,1769185441000,2026-01-23 16:24:01 +0000 UTC,1769183919000,2026-01-23 15:58:39 +0000 UTC,152,Oracle Health,True

## Send to supabase

In [9]:
job_descriptions_df.groupby("competitor_name").size()

competitor_name
Ashoka                         7
Clayco                         4
DoorDash                       1
Field Pulse                    2
Housecall Pro                  6
Oracle Health                 24
Skanksa                       18
SpotOn                        22
Square                         1
The Rockefeller Foundation     1
Triodos                        1
Turner                        24
Wex FSM                        5
dtype: int64

In [10]:
for _, row in job_descriptions_df.iterrows():
    competitor_id = int(row["competitor_id"])
    title = row["title"]
    description = row["description"]
    postedAt_raw = row["originalListedDate"]

    postedAt = postedAt_raw.split(" ")[0]

    url = row["url"]

    response = supabase.table("jobs").insert({
        "competitor_id": competitor_id,
        "title": title,
        "postedAt": postedAt,
        "description": description,
        "url": url,
        # "relevant": True,
        "processed": False,
    }).execute()

    if response.data:
        print(f"✅ Insert record {title}")
    else:
        print(f"❌ Failed to insert record {title}")
print("Inserted job descriptions into supabase...")

✅ Insert record Data Center Technician 2
✅ Insert record Software Developer 3
✅ Insert record Principal Software Engineer - Server Management Firmware (BMC/ILOM)
✅ Insert record Industry Sales Executive - Professional Services
✅ Insert record Enterprise Application Sales Executive – Cloud Communications (Southeast and Gulf Region)
✅ Insert record Senior Principal NetSuite Consultant -Retail & Retail+ (AFA/HB/FB) - NetSuite ACS
✅ Insert record SDR NetSuite Bilingüe - Telesales Business Development Representative I
✅ Insert record Data Center Technician
✅ Insert record SDR NetSuite Bilingüe - Telesales Business Development Representative I
✅ Insert record PAM Partner Account Manager ISV
✅ Insert record Executivo (a) de Vendas Enterprise/Corporate – Oracle NetSuite - HUNTER
✅ Insert record SDR NetSuite Bilingüe - Telesales Business Development Representative I
✅ Insert record Senior Applications Developer
✅ Insert record Referral - Cloud Finance/PPM/FAH/Tax/RMCS/S&C Functional
✅ Insert record Senior Security Engineer
✅ Insert record Site Reliability Developer 4
✅ Insert record Contractor-Billable
✅ Insert record Dot Net Specialist -C#, .NET,VB.net & VB UI technologies
✅ Insert record Site Reliability Developer 4
✅ Insert record Principal Consultant
✅ Insert record Fusion HCM Functional Lead/Sr Consultant (OTL, Absence, Payroll, Compensation, Talent management, Learn, ORC, ODA)
✅ Insert record Senior Software Developer 3
✅ Insert record Senior Applications Developer
✅ Insert record Software Development Snr Manager
✅ Insert record Scheduling Manager
✅ Insert record Project Safety Manager - Baltimore
✅ Insert record Traveling MEP Manager
✅ Insert record Concrete Foreman - Omaha
✅ Insert record Intern | Cleveland | Summer 2026
✅ Insert record MEP Engineer - Miami
✅ Insert record Superintendent - Miami
✅ Insert record Community & Citizenship Manager (San Diego)
✅ Insert record Lean Manager
✅ Insert record Supply Chain Analyst - Construction
✅ Insert record Intern - Operational Finance | Cleveland | Summer 2026
✅ Insert record Lean Manager - Reston
✅ Insert record Lean Manager - Baltimore
✅ Insert record Supply Chain Specialist - Atlanta
✅ Insert record Project Safety Manager - Reston
✅ Insert record VDC Engineer
✅ Insert record SPO Estimator - Drywall
✅ Insert record Lighting Supply Chain Project Manager
✅ Insert record Supply Chain Specialist - Charlotte
✅ Insert record SPO Estimator - Drywall
✅ Insert record Tax Intern - Headquarters (2026)
✅ Insert record IS Services & Support Intern (Bay Area)
✅ Insert record Project Preconstruction Manager - MSG - Data Centers
✅ Insert record Project Superintendent
✅ Insert record Staff Accountant
✅ Insert record Sales Business Development Representative
✅ Insert record Summer Intern, President's Office
✅ Insert record Investment Support Internship (Agri Team, Emerging Markets)
✅ Insert record Volunteer Performance Marketing Associate with Google Ads Experience to Help Spread Ashoka's Changmaking Vision with Ashoka
✅ Insert record Volunteer Performance Marketing Associate with Google Ads Experience to Help Spread Ashoka's Changmaking Vision with Ashoka
✅ Insert record Volunteer Performance Marketing Associate with Google Ads Experience to Help Spread Ashoka's Changmaking Vision with Ashoka
✅ Insert record Volunteer Performance Marketing Associate with Google Ads Experience to Help Spread Ashoka's Changmaking Vision with Ashoka
✅ Insert record Volunteer Performance Marketing Associate with Google Ads Experience to Help Spread Ashoka's Changmaking Vision with Ashoka
✅ Insert record Volunteer Performance Marketing Associate with Google Ads Experience to Help Spread Ashoka's Changmaking Vision with Ashoka
✅ Insert record Volunteer Communications Specialist to Develop Materials and Pitch Deck for Donor Advised Fund Strategy with Ashoka
✅ Insert record Tax Advisor
✅ Insert record Senior Ruby on Rails Engineer - Poland [6 500 - 8 000 USD per month (B2B)]
✅ Insert record Product Manager II  (Growth)
✅ Insert record Lead Tax Advisor
✅ Insert record Software Architect - API Platform
✅ Insert record Senior Staff Software Engineer - API Platform
✅ Insert record Manager, Software Engineering
✅ Insert record Senior .NET Developer
✅ Insert record Customer Development Representative, WEX Plus
✅ Insert record Customer Service Specialist (Mason, Ohio Office)
✅ Insert record Territory Sales Manager (CA/AZ)
✅ Insert record Betongmaskinist/Processoperatör - Norrköping
✅ Insert record Project Surveyor
✅ Insert record Back Office Service Manager
✅ Insert record Application & Platform Support Manager
✅ Insert record Senior Construction Supervisor
✅ Insert record Shift Technician
✅ Insert record Electrical Superintendent (Heavy Civil Construction)
✅ Insert record Produktionschef  Hus Sydost - Gotland
✅ Insert record Kierownik(-czka) Robót / Drogowa
✅ Insert record Construction Director
✅ Insert record Tilbudsleder Anlegg
✅ Insert record Category Manager
✅ Insert record Mobile Maintenance Technician
✅ Insert record Project Leader (Warsaw)
✅ Insert record Processoperatör/Verksmaskinist asfalttilllverkning – Upplands Väsby
✅ Insert record Reparatör Maskingruppen Stora projekt - Upplands Väsby
✅ Insert record Works Coordinator
✅ Insert record Project Executive - Mission Critical/Data Center
✅ Insert record General Superintendent
✅ Insert record MEP Project Manager - Systems & Equipment Innovations (SEI)
✅ Insert record Project Engineer - Systems & Equipment Innovations (SEI)
✅ Insert record Project Engineer
✅ Insert record Sales Account Executive, Sydney
✅ Insert record Senior Product Designer
✅ Insert record Software Engineer (GoLang, Partnerships)
✅ Insert record Senior Platform Engineer
✅ Insert record Senior Platform Engineer
✅ Insert record Senior Platform Engineer
✅ Insert record Senior Platform Engineer
✅ Insert record Senior Analyst, Strategic Finance
✅ Insert record Territory Sales Representative / Restaurant Specialist - Bushwick, NY
✅ Insert record Territory Sales Representative / Restaurant Specialist - Borough Park, NY
✅ Insert record Territory Sales Representative / Restaurant Specialist - Brooklyn, NY
✅ Insert record Territory Sales Representative / Restaurant Specialist - Chambersburg, PA
✅ Insert record Territory Sales Representative / Restaurant Specialist - Marlborough, MA
✅ Insert record Territory Sales Representative / Restaurant Specialist - Detroit, MI
✅ Insert record Senior Software Engineer II (Golang)
✅ Insert record Territory Sales Representative / Restaurant Specialist - Palm Springs, CA
✅ Insert record Territory Sales Representative / Restaurant Specialist - Palo Alto, CA
✅ Insert record Territory Sales Representative / Restaurant Specialist - San Francisco, CA
✅ Insert record Territory Sales Representative / Restaurant Specialist - Fort Lee, NJ
✅ Insert record Territory Sales Representative / Restaurant Specialist - Staten Island, NY
✅ Insert record Territory Sales Representative / Restaurant Specialist - Harlem, NY
✅ Insert record Territory Sales Representative / Restaurant Specialist - Fredericksburg, VA
✅ Insert record Territory Sales Representative / Restaurant Specialist - Tysons, VA
✅ Insert record Treasury Manager
Inserted job descriptions into supabase...